<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

    <resultMap id="baseMap" type="com.glowsoft.model.MemberVO">
        <result column="USER_ID" property="id"/>
        <result column="USER_PWD" property="passwd"/>
    </resultMap>

    <resultMap id="baseMap2" extends="baseMap" type="com.glowsoft.model.MemberVO">
        <association column="USER_ID" property="memberAdd"  select="memberAdd.selectbyUserId"/>
    </resultMap>

    <resultMap id="baseMap3" extends="baseMap" type="com.glowsoft.model.MemberVO">
        <result column="SMS_SEND_YN" property="memberAdd.sendYn"/>
        <result column="DENY_PROC_WAY" property="memberAdd.denyWay"/>
    </resultMap>

    <select id="selectList1" resultMap="baseMap">
        select USER_ID,USER_PWD from secum_member_info limit 20
    </select>

    <select id="selectList2" resultMap="baseMap2">
        select USER_ID,USER_PWD from secum_member_info limit 20
    </select>

    <select id="selectList3" resultMap="baseMap3">

        select A.USER_ID,A.USER_PWD,B.DENY_PROC_WAY,B.SMS_SEND_YN from secum_member_info A
          inner join secum_member_ADD B on A.USER_ID = B.USER_ID
        limit 20
    </select>
</mapper>