# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\project\test01_230612\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
