<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="net.sf.log4jdbc.sql.jdbcapi.DriverSpy" />
        <property name="url" value="jdbc:log4jdbc:mariadb://localhost:3308/secum" />
        <property name="username" value="root" />
        <property name="password" value="1234" />
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:sqlconfig/mybatisconfig.xml" />

        <property name="mapperLocations" value="classpath*:sqlconfig/*_Mapper.xml"/>
    </bean>

    <!--sql session templcate를 사용하여 sqlSession 객체에 접근하여 공용 DAO 사용-->

    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
            <!--
                public SqlSessionTemplate(SqlSessionFactory sqlSessionFactory) {
                this(sqlSessionFactory, sqlSessionFactory.getConfiguration().getDefaultExecutorType());
              }
             첫번째 생성자에 접근 sqlSessionFactory는 위에 생성된 beanId = sqlSessionFactory 를 대입
           -->
        <constructor-arg index="0" ref="sqlSessionFactory" />
    </bean>

</beans>